#expertin{ 
  background: #f1f8ff;
}
.skillList{
  width: 100%;
  float: left; 
  height: auto;
  margin-top: 50px;
  @media only screen and (max-width: 767px){ 
    margin-top: 10px;
  }  

  li{
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 70px;
    @media only screen and (max-width: 767px){ 
      margin-right: 0; margin-bottom: 30px; width: 50%; 
    }
  }

  li:nth-child(3n){
    margin-right: 0;
  }
  
}

.listDetail {
  width: 100%;
  float: left;
  height: auto;
}

.imageDiv{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: table;
  border: 1px solid $tertiary-color;
  border-radius: 100%;
  
  i{
    color: $primary-one-color;
    font-size: 50px;
    margin: 0 auto;
    display: table;
    line-height: 100px;
  }
}

.titleDiv{
  width: 100%;
  text-align: center;
  float: left;
  margin: 45px 0px 22px 0px;
  @media only screen and (max-width: 767px){ 
    margin: 22px 0; 
  }  

  h3{
    font-size: 17px;
    font-family: $robotoBold;
    text-transform: uppercase;
    color: $primary-two-color;
  }
}

.descDiv{
  width: 100%;
  float: left;
  @media only screen and (max-width: 767px){
    width: 80%; float: none; margin: 0 auto; display: table; 
  }
  p {
    font-family: $robotoRegular;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    color: $secondary-color;
  }
}
